<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    
</head>

<body>
    <div class="container everything">
        <div class="row">
            <div class="col">
                <div class="card box">
                    <div class="card-body">
                        <h1>Hello Adult Life</h1>
                        <a href="/budget/new">New Input</a>
                    </div>
                </div>
            </div>
            <div class="col">
                    <table class="table-dark">
                        <thead>
                            <tr>
                              <th>Date</th>
                              <th>Item</th>
                              <th>$</th>
                              <th>EDIT</th>
                              <th>DELETE</th>
                            </tr>
                          </thead>
                        <tbody>
                        <% for (let i = 0; i < budgetData.length; i++) { %>
                        <tr>
                            <td><%= budgetData[i].date %></td>
                            <td><a href="/budget/<%=i%>"> <%= budgetData[i].name %> </a></td>
                            <td><%= budgetData[i].amount %> </td>
                            <td><a class="btn btn-secondary" href="/budget/<%=i%>/edit">Edit</a></td>
                            <td><form action="/budget/<%=i%>?_method=DELETE" method="POST">
                                <input class="btn btn-secondary" type="submit" value="DELETE"/>
                            </form></td>
                            
                        </tr>
                        <% } %>

                    </tbody>   
                    </table> 
            </div>
        </div>     
    </div>
</body>
</html>