<!DOCTYPE html>
<html>
    <head>
          <!-- CSS and CDN in partials -->
          <%- include ('./partials/head.ejs') %>
    </head>
    <body>
        <h1> The Edit Page</h1>
        <form action="/store/<%=product.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=product.name%>"/><br/>
            Description: <input type="text" name="description" value="<%=product.description%>" /><br/>
            Picture URL: <input type="text" name="img" value="<%=product.img%>" /><br/>
            Price of Item: <input type="text" name="price" value="<%=product.price%>" /><br/>
            How Many?: <input type="text" name="qty" value="<%=product.qty%>" /><br/>
            <input type="submit" name="" value="Finish and Submit"/>
        </form>




        
        <footer>
            <!-- Script Tags in partials folder -->
         <%- include ('./partials/footer.ejs') %>
         </footer>
    </body>
</html>