<!DOCTYPE html>
<html>
    <head>
         <!-- CSS and CDN in partials -->
         <%- include ('./partials/head.ejs') %>
    </head>
    <body>
        <nav>
            <a href="/Store">Index Route</a>

        </nav>
        <h2>Product Page</h2>
        <div class="container">
            <img src="<%= product.img  %>" alt="<%= product.name %> ">
            <h3><%= product.price %> </h3>
            <h3><%= product.qty %> items in stock</h3>
            <h1><%= product.name %> </h1>
            <h3><%= product.description %> </h3>
            <a href="/store/<%=product.id; %>/edit">Edit</a>
                     <form action="/store/<%=product.id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="remove"/>
                    </form>  
                </li>

        
        </div>
        <footer>
            <!-- Script Tags in partials folder -->
        <%- include ('./partials/footer.ejs') %>
        </footer>
    </body>
</html>